[Unit]
Description=Launch the MarketPlace Flask server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/MarketPlace/.venv/bin/gunicorn --chdir /MarketPlace --bind 0.0.0.0:80 "app:launch_app()"

[Install]
WantedBy=multi-user.target