<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link rel="stylesheet" href="style.css">
    <script>
        // Set the server and login server URLs
        const server = 'https://c2zk70xvb0.execute-api.us-east-1.amazonaws.com/prod'; // Replace <API-GATEWAY-ENDPOINT> with your API Gateway endpoint
        const login_server = 'https://marketplaceapp.auth.us-east-1.amazoncognito.com/login?client_id=103prmccppgm9p7p2mgdgk37ot&response_type=token&scope=email+openid&redirect_uri=https%3A%2F%2Fstaging.d1rbyo11f08fn5.amplifyapp.com%2Fcallback.html';

        /**
         * Handles user authentication.
         * If the user is logged in, logs them out and updates the auth button.
         * If the user is not logged in, redirects them to the login page.
         */
        function handleAuth() {
            if (localStorage.getItem('bearer_str')) {
                // Redirect to sign out page if logged in
                localStorage.removeItem('bearer_str');
                updateAuthButton();
                alert('Logged out successfully');
                window.location.reload();
            } else {
                // Redirect to login page if not logged in
                window.location.href = login_server;
            }
        }

        /**
         * Updates the text of the authentication button based on the user's login status.
         */
        function updateAuthButton() {
            const authButton = document.getElementById('authButton');
            if (localStorage.getItem('bearer_str')) {
                authButton.innerText = "Logout";
            } else {
                authButton.innerText = "Login";
            }
        }

        /**
         * Fetches product data from the server.
         * If the user is not logged in, alerts them and returns.
         * If the user is logged in, fetches the product data and displays it in a list.
         */
        async function fetchProductData() {
            const bearerToken = localStorage.getItem('bearer_str');
            if (!bearerToken) {
                alert('You must be logged in to view products.');
                return;
            }

            try {
                const response = await fetch(`${server}/products/get_all_products`, {
                    headers: {
                        'Authorization': `Bearer ${bearerToken}`
                    }
                });
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                const responseData = await response.json();
                const data = JSON.parse(responseData.body);

                const listElement = document.getElementById('product-list');
                listElement.innerHTML = ''; // Clear existing content

                if (Array.isArray(data)) {
                    for (let i = 0; i < data.length; i++) {
                        const product = data[i];
                        const listItem = document.createElement('li');
                        listItem.textContent = `Product: ${product.ProductName}, Price: ${product.ProductPrice}, Owner: ${product.ProductOwner}`;
                        listElement.appendChild(listItem);
                    }
                } else {
                    console.error('Data is not an array:', data);
                }
            } catch (error) {
                console.error('Error fetching product data:', error);
            }
        }

        /**
         * Initializes the page by updating the auth button and fetching product data.
         */
        window.onload = function() {
            updateAuthButton();
            fetchProductData();
        };
    </script>
</head>
<body>
    <button id="authButton" onclick="handleAuth()">Login</button>
    <h1>Welcome to the Marketplace!</h1>
    <div id="product">
        <h2>Products</h2>
        <ul id="product-list">Loading...</ul>
    </div>
</body>
</html>